<section class="block container">
  <header class="block__header">
    <h1 class="block__heading">Heading</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita?
    </p>
  </header>
  <div style="width: 30%">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto,
        voluptatem?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h1 class="block__heading">Heading</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita?
    </p>
  </div>
</section>
